OpenAPI 3.x.y - validation of runtime expression

We are currently not able to validate runtime expression. Ideally using already existing tool is ideal, but if we cannot find one we can still write one. I have created the parser and validator library here: https://github.com/char0n/openapi-runtime-expression

Implementation will apply both for **OpenAPI 3.0.x** and **OpenAPI 3.1.x**.

---

The runtime expression is defined by the following [ABNF](https://tools.ietf.org/html/rfc5234) syntax.


```
expression = ( "$url" / "$method" / "$statusCode" / "$request." source / "$response." source )
      source = ( header-reference / query-reference / path-reference / body-reference )
      header-reference = "header." token
      query-reference = "query." name  
      path-reference = "path." name
      body-reference = "body" ["#" json-pointer ]
      json-pointer    = *( "/" reference-token )
      reference-token = *( unescaped / escaped )
      unescaped       = %x00-2E / %x30-7D / %x7F-10FFFF
         ; %x2F ('/') and %x7E ('~') are excluded from 'unescaped'
      escaped         = "~" ( "0" / "1" )
        ; representing '~' and '/', respectively
      name = *( CHAR )
      token = 1*tchar
      tchar = "!" / "#" / "$" / "%" / "&" / "'" / "*" / "+" / "-" / "." /
        "^" / "_" / "`" / "|" / "~" / DIGIT / ALPHA
```
Here, json-pointer is taken from [RFC6901](https://tools.ietf.org/html/rfc6901), char from [RFC7159](https://tools.ietf.org/html/rfc7159#section-7) and token from [RFC7230](https://tools.ietf.org/html/rfc7230#section-3.2.6).

The name identifier is case-sensitive, whereas token is not.

The table below provides examples of runtime expressions and examples of their use in a value: